<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403921058819-nj9aglmf5ulfb6r4aiju7hou3iljqkni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403921058819-nj9aglmf5ulfb6r4aiju7hou3iljqkni</string>
	<key>API_KEY</key>
	<string>AIzaSyBKYZzGuK4dzjnIbxEow7wF68ho-3EuBkY</string>
	<key>GCM_SENDER_ID</key>
	<string>403921058819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mina.FirstApp</string>
	<key>PROJECT_ID</key>
	<string>firstapp-d1751</string>
	<key>STORAGE_BUCKET</key>
	<string>firstapp-d1751.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403921058819:ios:7a3b5cc3c200de74c9a236</string>
</dict>
</plist>